
@{
    ViewBag.Title = "Add school";
}

<h2>@ViewBag.Title</h2>

<form method="post" action="">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" name="name" id="name" placeholder="Please insert school name">
    </div>
    <div class="form-group">
        <label for="budget">Year</label>
        <input type="text" class="form-control" name="year" id="year" placeholder="Please insert year">
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
</form>

