
@{
    ViewBag.Title = "Add teacher";
}

<h2>@ViewBag.Title</h2>

<form method="post" action="">
    <div class="form-group">
        <label for="name">First Name</label>
        <input type="text" class="form-control" name="first_name" id="first_name" placeholder="Please insert first name">
    </div>
    <div class="form-group">
        <label for="name">Last Name</label>
        <input type="text" class="form-control" name="last_name" id="last_name" placeholder="Please insert last name">
    </div>
    <div class="form-group">
        <label for="budget">Age</label>
        <input type="text" class="form-control" name="age" id="age" placeholder="Please insert age">
    </div>
    <div class="form-group">
        <label for="budget">Gender</label>
        <input type="text" class="form-control" name="gender" id="gender" placeholder="Please insert gender">
    </div>
    <div class="form-group">
        <label for="budget">School Id</label>
        <input type="text" class="form-control" name="schoolId" id="schoolId" placeholder="Please insert school id">
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
</form>

